{extend name="base" /}
<!--{block name="head"}{/block}-->
<body>

<button class="btn btn-warning btn-lg tab-refresh" onclick="refresh()">shuaxin</button>

<table class="table table-bordered table-hover">
    <tr>
        <th>表头</th>
        <th>表头</th>
        <th>表头</th>
        <th>表头</th>
        <th>表头</th>
    </tr>
    <tr>
        <td>内容</td>
        <td>内容</td>
        <td>内容</td>
        <td>内容</td>
        <td>内容</td>
    </tr>
    <tr>
        <td>内容</td>
        <td>内容</td>
        <td>内容</td>
        <td>内容</td>
        <td>内容</td>
    </tr>
</table>

<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<!--<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>-->
<script src="/static/bootstrap/jquery/jquery-3.2.1.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="/static/bootstrap/js/bootstrap.js"></script>
</body>
</html>